body {
  background-color: #0e0503;
  color: #ce9e60;
  font-weight: normal;
  vertical-align: baseline;
}

.jumbotron {
  background-color: transparent;
}

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

.center {
  margin-left: auto;
  margin-right: auto
}
